.muli-warp-span {
  position: relative;
}

.muli-warp-span::before {
  content: none !important;
}

.filter-box .filter-arrow::after {
  border: 10px solid transparent;
  border-bottom: 22px solid #f8fbff;
  border-top: none;
  content: " ";
  position: absolute;
  right: -2px;
  top: 15px;
  z-index: 5;
}

.filter-box .filter-body {
  padding: 10px;
  position: absolute;
  background-color: #f8fbff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 #00000029;
  color: #000;
  top: 35px;
  left: -70px;
  width: 220px;
  overflow: hidden;
  height: max-content;

  z-index: 5;
}

.filter-box .input-data::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.filter-box ::-webkit-scrollbar-track {
  background-color: #f8fbff;
}

.filter-box ::-webkit-scrollbar-thumb {
    background: rgba(14, 78, 146, 0.527);
    border-radius: 5px;
    width: 5px;
    height: 5px;
}

.filter-box .input-search input {
  accent-color: green;
  background: #f2f2f2 0 0 no-repeat padding-box;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 1px 1px #00000029;
  height: 30px;
  padding: 0 23px;
  text-align: left;
  width: 100%;
}

.filter-box .input-search .ant-picker{
    padding: 4px 4px 4px;
}

.filter-box .input-search .ant-picker input{
    padding: 0px 10px;
}

.filter-box .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin: 0px;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
  height: 25px;
  text-shadow: 0 2px 2px #00000029;
  box-shadow: 0 1px 1px #00000029;
  background: 0% 0% no-repeat padding-box padding-box rgb(14, 77, 146);
}

.filter-box .clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 13px;
  width: 60px;
  margin: 0px;
  color: #fff;
  height: 25px;
  text-shadow: 0 2px 2px #00000029;
  box-shadow: 0 1px 1px #00000029;
  background: transparent linear-gradient(180deg, #bebebe, #949494) 0 0
    no-repeat padding-box;
}
